body {
  margin: 0;
  padding: 0;
  font-family: arial,verdana,helvetica,Microsoft Yahei,sans-serif;
  box-sizing: border-box;
}
/* header */
.container .home-header {
  width: 100vw;
  height: 196px;
  background: url('../img/home-bg.png') no-repeat;
  background-size: 100% 100%;
}

.home-header .home-title {
  display: block;
  height: 138px;
  background: url('../img/home-search-text.png') no-repeat center;
  background-size: 252px auto;
}

.home-header .home-search {
  text-align: center;
  height: 37px;
  width: 340px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 18px;
}

.home-header .home-search input {
  border: none;
  width: 260px;
  height: 36px;
  outline: none;
  font-size: 14px;
  padding: 0;
  color: #aeaeae;
}

.home-header .home-search input::-webkit-input-placeholder {
  color: #aeaeae;
}

.home-header .home-search button {
  border: none;
  height: 37px;
  outline: none;
  background-color: #fff;
  color: #5bd4c7;
}

/* body */
.home-body dl{
  margin: 0;
  padding: 18px 0;
  border-bottom: 1px solid #f5f8f9;
}

.home-body dl > dt{
  display: flex;
  margin: 0 15px 18px 15px;
}

.home-body img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.home-body h2 {
  height: 50px;
  font-size: 15px;
  margin: 0;
  color: #404855;
  line-height: 50px;
}

.home-body dd {
  margin: 0 15px;
  display: flex;
  flex-wrap: wrap;
}

.home-body dd > a {
  text-decoration: none;
  font-size: 13px;
  padding: 8px 16px;
  margin: 0 8px 8px 0;
  color: #7e8793;
  background-color: #f5f8f9;
  border-radius: 16px;
}

/* footer */
.home-footer {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.home-footer-span {
  font-size: 12px;
  color: #919aa7;
}

.home-footer-span > span {
  display: block;
}

